.wrapper
    .banner
        .banner__top
            .banner__logo
                img(src="./img/logo.svg" alt="favbet")
            .banner__title
                .banner__title-left
                    .banner__date 7.11
                    .banner__time 22:00
                .banner__title-right
                    .banner__team Динамо
                    .banner__team Ференцварош
        .banner__pers
            picture
                source(media="(max-width: 1706px) and (min-height: 1200px)" srcset="img/pers-tab.png")
                source(media="(max-width: 1680px)" srcset="img/pers-tab.png")
                img(src="./img/pers.png" alt="favbet")
        .banner__bottom
            .banner__bonus
                .banner__bonus-item БОНУС*
                .banner__bonus-item.item-magenta #[span до]15 000₴
                .banner__bonus-item.fs +300 FS
            .banner__info * Під бонусом розуміється можливість отримати приз в рамках акції «Вітальний бонус». Період дії акції з 01.09.2024 по 31.12.2024 року. Бонус доступний тільки для нових клієнтів. Деталі на сайті favbet.ua.